#loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
}
h1{
    z-index: 10000;
    color:yellow;
}
#loader {
    display: block;
    position: relative;
    top: 40%;
    width: 150px;
    height: 150px;
    margin: auto;

    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #00efda;

    z-index: 1001;

    -webkit-animation: spin linear 2s infinite; /* Chrome, Opera 15+, Safari 5+ */
          animation: spin linear 2s infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
}
    #loader:before{
        content: "";
        position: absolute;
        top: 5px;
        left: 5px;
        right: 5px;
        bottom: 5px;

        border-radius: 50%;
        border: 3px solid transparent;
        /*border-top-color: #FF1025;*/
        border-top-color: #fdfdfd;

        -webkit-animation: spin linear 3s infinite; /* Chrome, Opera 15+, Safari 5+ */
          animation: spin linear 3s infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
    }
    #loader:after{
        content: "";
        position: absolute;
        top: 15px;
        left: 15px;
        right: 15px;
        bottom: 15px;

        border-radius: 50%;
        border: 3px solid transparent;
        border-top-color: #00efda;

        -webkit-animation: spin linear 1.5s infinite; /* Chrome, Opera 15+, Safari 5+ */
          animation: spin linear 1.5s infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
    }

    @-webkit-keyframes spin {
        0%   {  
            -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: rotate(0deg);  /* IE 9 */
            transform: rotate(0deg);
        }
        100% { 
            -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: rotate(360deg);  /* IE 9 */
            transform: rotate(360deg);
        }   
    }
    @keyframes spin {
        0%   {  
            -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: rotate(0deg);  /* IE 9 */
            transform: rotate(0deg);
        }
        100% { 
            -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: rotate(360deg);  /* IE 9 */
            transform: rotate(360deg);
        }   
    }

    #loader-wrapper .loader-section{
        position: fixed;
        top: 0;
        width: 51%;
        height: 100%;
        background: black;
        z-index: 1000;
    }
    #loader-wrapper .loader-section.section-left{
        left: 0;
    }
    #loader-wrapper .loader-section.section-right{
        right: 0;
    }

    /*Loaded Styles*/
    .loaded #loader-wrapper .loader-section.section-left{
        -webkit-transform: translateX(-100%);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: translateX(-100%);  /* IE 9 */
                transform: translateX(-100%);

        -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000); 
                transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000); 
    }
    .loaded #loader-wrapper .loader-section.section-right{
        -webkit-transform: translateX(100%);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: translateX(100%);  /* IE 9 */
                transform: translateX(100%);

        -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000); 
                transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000); 
    }
    .loaded #loader{
        opacity: 0;

        -webkit-transition: all 0.3s ease-out;  /* Android 2.1+, Chrome 1-25, iOS 3.2-6.1, Safari 3.2-6  */
                transition: all 0.3s ease-out;  /* Chrome 26, Firefox 16+, iOS 7+, IE 10+, Opera, Safari*/   
    }
    .loaded #loader-wrapper{
        visibility: hidden;

        -webkit-transform: translateY(-100%);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: translateY(-100%);  /* IE 9 */
                transform: translateY(-100%);

        -webkit-transition: all 0.3s 1s ease-out;  /* Android 2.1+, Chrome 1-25, iOS 3.2-6.1, Safari 3.2-6  */
                transition: all 0.3s 1s ease-out;  /* Chrome 26, Firefox 16+, iOS 7+, IE 10+, Opera, Safari*/ 
    }

#page-content{
    margin: 0 auto;
    padding-bottom: 50px;
    width: 80%;
    max-width: 978px;
}